@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --brand-765as: #f34f6d;
  --brand-cinderellagirls: #2681c8;
  --brand-millionlive: #ffc30b;
  --brand-sidem: #0fbe94;
  --brand-shinycolors: #8dbbff;
  --platform-spotify: #1fdf64;
  --platform-applemusic: #fb4058;
  --platform-amazon: #ff9900;
}

body {
  background-color: var(--zinc-100);
  color: var(--zinc-800);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--zinc-800);
    color: var(--zinc-200);
  }
}
